<!DOCTYPE html>
<html>
  <head>
    <title>Address-Book</title>
    <meta charset="utf-8" />
  </head>
  <body class="m-1 p-1">
    <h2 class="bg-primary text-center text-white p-1">{{ getName()}}'s Address Book</h2>
    <div class="mydiv">
      <!-- <form> -->
        Name    : <input class="type" type = "form-control" #name>
        Email   : <input class="type" type = "form-control" #phno> 
        PhNo    : <input class="type" type = "form-control" #email>
        Address : <input class="type" type = "form-control" #address>
        <br>
        <button class="btn btn-primary mt-2" (click)="addNewDetail(name.value,phno.value,email.value,address.value)">Add</button>
      <!-- </form> -->
      </div>
      <br>
    <table class = "table table-bordered table-striped ">
      <thead>
        <tr>
          <td>S.no</td>
          <td>name</td>
          <td>phno</td>
          <td>email</td>
          <td>address</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of getDetails() let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.phno }}</td>
          <td> {{ item.email }}</td>
          <td> {{ item.address }}</td>
        </tr>
      </tbody>
    </table>
  </body>
  </html>